<form action='/books' method='post'>
  <input type='text' name='title' id='' placeholder='Title' />
  <input type='text' name='authorName' id='' placeholder='Author Name' />
  <input type='text' name='editorial' id='' placeholder='Editorial' />
  <input type='text' name='price' id='' placeholder='Price' />
  <button class='btn btn-primary' type='submit'>Create</button>
</form>